<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PE Tracker</title>
  <link href="css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div id="tracker-wrapper">
    <h1>PE Tracker</h1>
    <div id="buttons-wrapper">
      <% tasks.forEach(function(r) {%>
        <div class="button-wrapper" id='behavior-button-wrapper-<%= r.id %>'>
          <button type="button" class="button behavior-button" id='<%= r.id %>' disabled><%= r.name %></button>
        </div>
      <% }); %>
      <div class="button-wrapper" id="begin-end-observation-button-wrapper">
        <button type=button class="button" id="begin-end-observation-button">Begin Observation</button>
      </div>
    </div>
  </div>

  <!-- JQuery Library -->
  <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
  <!-- Javascript Files -->
  <script type="text/javascript" src="js/common.js"></script>
  <script type="text/javascript" src="js/PEBehavior.js"></script>
  <script type="text/javascript" src="js/PEObservation.js"></script>
  <script type="text/javascript" src="js/tracker.js"></script>
</body>
</html>